img {
  width: 1127px;
  position: relative;
  top: -88px;
  left: 30px;
}
#ft1 {
  position: relative;
  top: -11px;
  width: 1290px;
  left: -6px;
}
#ft2 {
  position: relative;
  top: -20px;
  width: 1290px;
  left: -6px;
}
._1TR9s6 {
  position: relative;
  top: -73px;
}
._2lsFjV {
  left: 25px;
  position: relative;
  top: -75px;
}

._2SidBN {
  position: relative;
  top: -13px;
}
body {
  font-family: Gotham, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.pszSfR {
  display: grid;
  grid-template-areas: "crumb crumb crumb crumb crumb crumb . . . . . .";
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  position: relative;
  top: -114px;
}
._3PxmpK {
  padding-left: 64px;
  padding-right: 64px;
}
._1DmxGZ {
  margin-left: auto;
}
._3xZGfJ {
  margin-right: auto;
}
._2r6__P {
  max-width: 1280px;
}
.Z2c-A8 {
  padding-right: 1rem;
}
.Shc49X {
  padding-left: 4.6rem;
}
._2ulGkX {
  width: 1em;
  height: 1em;
}
._1-e5P3 {
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 6px;
}
.GleAYB {
  display: inherit;
}
._1W7hlc {
  margin-top: 0;
  width: 3%;
}
a {
  text-decoration: none;
}
a._1goM8m,
a._1goM8m:active,
a._1goM8m:focus,
a._1goM8m:visited {
  color: #64666a;
  white-space: nowrap;
}
._2FyNNx {
  display: inline-block;
  padding: 0;
  position: relative;
  background-color: hsla(0, 0%, 100%, 0);
  border: 1px solid hsla(0, 0%, 100%, 0);
  vertical-align: middle;
}

.VdUGy_ {
  grid-area: crumb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.75rem;
  margin-top: 1.75rem;
  font-weight: 700;
  font-family: Gotham, system-ui, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 10px;
  line-height: 24px;
}
.qJTHM {
  -webkit-user-select: none;
  color: #202124;
  direction: ltr;
  -webkit-touch-callout: none;
  font-family: "Roboto-Regular", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
}
.ynRLnc {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
.L6cTce {
  display: none;
}
.bltWBb {
  word-break: break-all;
}
.hSRGPd {
  color: #1a73e8;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}
.mvPhHZ {
  padding-right: 4px;
  border-right: 1px solid #d6d6d6;
}
.Bz112c-W3lGp {
  height: 16px;
  width: 16px;
}
.Bz112c-E3DyYd {
  height: 20px;
  width: 20px;
}
.Bz112c-r9oPif {
  height: 24px;
  width: 24px;
}
.Bz112c-uaxL4e {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.LgbsSe-Bz112c {
  display: block;
}
.S9gUrf-YoZ4jf,
.S9gUrf-YoZ4jf * {
  border: none;
  margin: 0;
  padding: 0;
}
.fFW7wc-ibnC6b > .aZ2wEe > div {
  border-color: #4285f4;
}
.P1ekSe-ZMv3u > div:nth-child(1) {
  background-color: #1a73e8 !important;
}
.P1ekSe-ZMv3u > div:nth-child(2),
.P1ekSe-ZMv3u > div:nth-child(3) {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    linear-gradient(to right, #1a73e8, #1a73e8) !important;
}
.haAclf {
  display: inline-block;
}
.nsm7Bb-HzV7m-LgbsSe {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.218s, border-color 0.218s;
  transition: background-color 0.218s, border-color 0.218s;
  -webkit-user-select: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dadce0;
  color: #3c4043;
  cursor: pointer;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

svg._3MEaDK {
  fill: #006642;
}
._1I2g79 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 44px;
  min-height: 44px;
  border: 1px solid hsla(0, 0%, 100%, 0);
}
._1I2g79 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 44px;
  min-height: 44px;
  border: 1px solid hsla(0, 0%, 100%, 0);
}
._3xdSVy {
  font-family: Gotham, system-ui, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.53846154;
  font-weight: 400;
  color: #005fb9;
}
._2FyNNx {
  display: inline-block;
  padding: 0;
  position: relative;
  background-color: hsla(0, 0%, 100%, 0);
  border: 1px solid hsla(0, 0%, 100%, 0);
  vertical-align: middle;
  left: 87px;
  top: -129px;
}
._1G_Rbn {
  font-size: 0.75rem;
  letter-spacing: 0.09rem !important;
  line-height: 1.1;
  color: #000;
  position: relative;
  top: -122px;
  left: 87px;
}
._3Rmqs8 {
  font-weight: 700;
}
._2zmeFA {
  font-family: inherit;
}
._23_Bjp {
  font-size: inherit;
}
._5-T082 {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.5384615384615385;
}
._2QtC2m {
  width: 100%;
}
.Ch_54P {
  margin-left: auto;
  margin-right: auto;
}
._2vFBK3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._32oErx {
  max-width: 1280px;
}
.ZH72u- {
  max-width: 100%;
}
._3RCofZ {
  padding-left: 1rem;
  padding-right: 1rem;
}
.FTDQoV {
  margin-bottom: 1rem;
  line-height: 1.2;
}
.DWu0fb {
  font-family: Rockwell !important;
  font-weight: 500;
  font-weight: 500;
  position: relative;
  top: -142px;
  left: 87px;
  font-size: 48px;
  width: 85%;
}
.Rc89TR {
  font-family: Chronicle Display, serif;
}
._2McN3Z {
  font-weight: 400;
}
._3PfUjB {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.TRjZgg {
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}
._1V059C {
  border-right: none;
  padding-left: 5px;
}
.DWu0fb {
  font-family: Chronicle Display, serif;
}
._23_GlS {
  font-family: Gotham, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
}
._2tSPex {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.25;
}
.USk75H {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
._3Ti2CH {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
._2mBfF_ {
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
}
._3Ti2CH {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
._1hEOcJ {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
._3qW1Me.iqiqbu {
  min-width: 825px;
}
._3b_vDv {
  /* width: calc(100% - 5.5rem); */
  width: calc(100% - 4.23853rem - 4.58716vw);
}
._3b_vDv {
  margin-left: calc(2.11927rem + 2.29358vw);
  margin-right: calc(2.11927rem + 2.29358vw);
}
._3b_vDv {
  border-collapse: collapse;
  display: inline-table;
  margin-left: 1rem;
  margin-right: 1rem;
  table-layout: fixed;
  text-align: left;
}
._3b_vDv ._3mMKje {
  border-bottom: 1px solid;
  border-color: #d8d9da;
  /* padding-bottom: 1rem; */
  padding-top: 1rem;
  vertical-align: top;
}
._3qW1Me {
  min-width: 780px;
}
._5-T082 {
  /* font-size: 13px; */
  font-size: 0.8125rem;
  line-height: 1.5384615384615385;
}
figure {
  margin: 1em 40px;
}
._2HF0Jk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
._2vhaZz {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
._30WfNQ,
.Pwlcz9 {
  height: 100%;
  width: 100%;
}
._3J9xA6,
._3J9xA6 > *,
._26gQvN,
._26gQvN > * {
  display: inline-block;
}
._1hOZ19 {
  position: relative;
}
._2odiax {
  opacity: 1;
  visibility: visible;
}
._2NQ8Sj {
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0s, opacity 0.4s;
  transition: visibility 0s linear 0s, opacity 0.4s;
  visibility: hidden;
}
.Up4XQs {
  max-height: auto;
  max-width: 100%;
}
._1KwdaD {
  padding: 0;
  border: none;
  /* outline: none; */
  background: none;
  margin-left: 4px;
}
._1TR9s6 {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: baseline;
  margin-right: 0.25rem;
}
._3b_vDv ._3mMKje {
  border-bottom: 1px solid;
  border-color: #d8d9da;
  /* padding-bottom: 1rem; */
  padding-top: 1rem;
  vertical-align: top;
}
._3QxVaF {
  margin-top: -0.5rem;
}
._3b_vDv {
  border-collapse: collapse;
  display: inline-table;
  margin-left: 1rem;
  margin-right: 1rem;
  table-layout: fixed;
  text-align: left;
}
svg:not(:root) {
  overflow: hidden;
}
._1TR9s6 {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: baseline;
  margin-right: 0.25rem;
}
._2J3L_E:not(._2NxRcS) {
  cursor: pointer;
}
._3J9xA6,
._26gQvN {
  text-decoration: none;
  line-height: 44px;
}
._2J3L_E {
  display: inline;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  color: #005fb9 !important;
}
.Qn1u6Q {
  font-family: inherit;
}
.p5WhSr {
  font-size: inherit;
}
.tNDKHl {
  margin-top: 0.25rem;
}
._3b_vDv ._3mMKje,
._3b_vDv th {
  padding-left: 0.5rem;
  padding-right: 1rem;
}

._2doNUD {
  top: 0;
  z-index: 1;
  position: sticky;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px -8px rgb(100 102 106 / 15%),
    0 8px 16px -16px rgb(100 102 106 / 33%);
  box-shadow: 0 4px 8px -8px rgb(100 102 106 / 15%),
    0 8px 16px -16px rgb(100 102 106 / 33%);
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

._3b_vDv th {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-weight: 400;
  padding-bottom: 0.5rem;
  font-size: 0.8125rem;
  line-height: 1.53846154;
  vertical-align: bottom;
  background-color: #fff;
}
._3b_vDv th {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
}
._34XV29 {
  width: 230px;
}
._1D1Nnv td:first-child,
th:first-child {
  padding-left: 0 !important;
}
._384f-r td:first-child,
th:first-child {
  padding-left: 0 !important;
}
._1D1Nnv td,
th {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}
._384f-r td,
th {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}
._3b_vDv ._3mMKje,
._3b_vDv th {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
._3b_vDv ._3mMKje {
  border-bottom: 1px solid;
  border-color: #d8d9da;
  /* padding-bottom: 1rem; */
  padding-top: 1rem;
  vertical-align: top;
}
._2tSPex {
  font-size: calc(1.12156rem + 1.37615vw);
  width: 100%;
}
._30R7ap {
  overflow: visible;
}
._3KfQhp {
  margin-bottom: 0.5rem;
}
.XnM6hD {
  display: inline-block;
}
._3b_vDv ._3mMKje,
._3b_vDv th {
  padding-left: 0.5rem;
  padding-right: 1rem;
}
._30WfNQ,
.Pwlcz9 {
  height: 100%;
  width: 100%;
}
._1D1Nnv td,
th {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}
._30R7ap {
  position: relative;
  top: -114px;
  left: 38px;
  width: 97%;
}
._3tByU6 {
  display: table-cell;
}
._3tByU6 {
  /* display: none; */
  width: 175px;
}
._2gJCrk._1HY63p,
._2gJCrk:hover {
  background-color: #006642;
}
.UysN4l {
  text-align: center;
  text-decoration: none !important;
}
._2gJCrk {
  background-color: #008254;
  color: #fff !important;
}
._2XRmtd {
  font-weight: 700;
  border-width: 0;
  border-radius: 0.125rem;
  font-family: Gotham, system-ui, sans-serif;
  white-space: nowrap;
  padding: 1rem 0.2rem;
  position: relative;
  text-align: center;
  font-size: 0.8125rem;
  line-height: 1.53846154;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
._2ActLi {
  cursor: pointer;
  display: inline-block;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}
._31LNO1 {
  text-align: center;
}
._2QtC2m {
  width: 100%;
}
@media screen and (-ms-high-contrast: active) {
  .nsm7Bb-HzV7m-LgbsSe {
    border: 2px solid windowText;
    color: windowText;
  }
}
.nsm7Bb-HzV7m-LgbsSe.pSzOP-SxQuSe {
  font-size: 14px;
  height: 32px;
  letter-spacing: 0.25px;
  padding: 0 10px;
}
.nsm7Bb-HzV7m-LgbsSe.purZT-SxQuSe {
  font-size: 11px;
  height: 20px;
  letter-spacing: 0.3px;
  padding: 0 8px;
}
.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe {
  padding: 0;
  width: 40px;
}
.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe.pSzOP-SxQuSe {
  width: 32px;
}
.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe.purZT-SxQuSe {
  width: 20px;
}
.nsm7Bb-HzV7m-LgbsSe.JGcpL-RbRzK {
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.nsm7Bb-HzV7m-LgbsSe.JGcpL-RbRzK.pSzOP-SxQuSe {
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
.nsm7Bb-HzV7m-LgbsSe.JGcpL-RbRzK.purZT-SxQuSe {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.nsm7Bb-HzV7m-LgbsSe.MFS4be-Ia7Qfc {
  border: none;
  color: #fff;
}
.nsm7Bb-HzV7m-LgbsSe.MFS4be-v3pZbf-Ia7Qfc {
  background-color: #1a73e8;
}
.nsm7Bb-HzV7m-LgbsSe.MFS4be-JaPV2b-Ia7Qfc {
  background-color: #202124;
  color: #e8eaed;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c {
  height: 18px;
  margin-right: 8px;
  min-width: 18px;
  width: 18px;
}
.nsm7Bb-HzV7m-LgbsSe.pSzOP-SxQuSe .nsm7Bb-HzV7m-LgbsSe-Bz112c {
  height: 14px;
  min-width: 14px;
  width: 14px;
}
.nsm7Bb-HzV7m-LgbsSe.purZT-SxQuSe .nsm7Bb-HzV7m-LgbsSe-Bz112c {
  height: 10px;
  min-width: 10px;
  width: 10px;
}
.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-Bz112c {
  margin-left: 8px;
  margin-right: -4px;
}
.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c {
  margin: 0;
  padding: 10px;
}
.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe.pSzOP-SxQuSe .nsm7Bb-HzV7m-LgbsSe-Bz112c {
  padding: 8px;
}
.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe.purZT-SxQuSe .nsm7Bb-HzV7m-LgbsSe-Bz112c {
  padding: 4px;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf {
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  height: 36px;
  margin-left: -10px;
  margin-right: 12px;
  min-width: 36px;
  width: 36px;
}
.nsm7Bb-HzV7m-LgbsSe
  .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf
  .nsm7Bb-HzV7m-LgbsSe-Bz112c,
.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe
  .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf
  .nsm7Bb-HzV7m-LgbsSe-Bz112c {
  margin: 0;
  padding: 0;
}
.nsm7Bb-HzV7m-LgbsSe.pSzOP-SxQuSe .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf {
  height: 28px;
  margin-left: -8px;
  margin-right: 10px;
  min-width: 28px;
  width: 28px;
}
.nsm7Bb-HzV7m-LgbsSe.purZT-SxQuSe .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf {
  height: 16px;
  margin-left: -6px;
  margin-right: 8px;
  min-width: 16px;
  width: 16px;
}
.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left: 2px;
  margin-right: 0;
  padding: 0;
}
.nsm7Bb-HzV7m-LgbsSe.JGcpL-RbRzK .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf {
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
.nsm7Bb-HzV7m-LgbsSe.pSzOP-SxQuSe.JGcpL-RbRzK
  .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf {
  -webkit-border-radius: 14px;
  border-radius: 14px;
}
.nsm7Bb-HzV7m-LgbsSe.purZT-SxQuSe.JGcpL-RbRzK
  .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
  width: 100%;
}
.nsm7Bb-HzV7m-LgbsSe .oXtfBe-l4eHX {
  justify-content: center;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.nsm7Bb-HzV7m-LgbsSe.purZT-SxQuSe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  font-weight: 300;
}
.nsm7Bb-HzV7m-LgbsSe .oXtfBe-l4eHX .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
  -webkit-transition: background-color 0.218s;
  transition: background-color 0.218s;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.nsm7Bb-HzV7m-LgbsSe:hover,
.nsm7Bb-HzV7m-LgbsSe:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #d2e3fc;
  outline: none;
}
.nsm7Bb-HzV7m-LgbsSe:hover .nsm7Bb-HzV7m-LgbsSe-MJoBVe,
.nsm7Bb-HzV7m-LgbsSe:focus .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
  background: rgba(66, 133, 244, 0.04);
}
.nsm7Bb-HzV7m-LgbsSe:active .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
  background: rgba(66, 133, 244, 0.1);
}
.nsm7Bb-HzV7m-LgbsSe.MFS4be-Ia7Qfc:hover .nsm7Bb-HzV7m-LgbsSe-MJoBVe,
.nsm7Bb-HzV7m-LgbsSe.MFS4be-Ia7Qfc:focus .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
  background: rgba(255, 255, 255, 0.24);
}
.nsm7Bb-HzV7m-LgbsSe.MFS4be-Ia7Qfc:active .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
  background: rgba(255, 255, 255, 0.32);
}
.nsm7Bb-HzV7m-LgbsSe .n1UuX-DkfjY {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 20px;
  margin-left: -4px;
  margin-right: 8px;
  min-width: 20px;
  width: 20px;
}
.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-BPrWId {
  font-family: "Roboto";
  font-size: 12px;
  text-align: left;
}
.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-BPrWId .ssJRIf,
.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-BPrWId .K4efff .fmcmS {
  overflow: hidden;
  text-overflow: ellipsis;
}
.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-BPrWId .K4efff {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: #5f6368;
  fill: #5f6368;
  font-size: 11px;
  font-weight: 400;
}
.nsm7Bb-HzV7m-LgbsSe.jVeSEe.MFS4be-Ia7Qfc .nsm7Bb-HzV7m-LgbsSe-BPrWId .K4efff {
  color: #e8eaed;
  fill: #e8eaed;
}
.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-BPrWId .K4efff .Bz112c {
  height: 18px;
  margin: -3px -3px -3px 2px;
  min-width: 18px;
  width: 18px;
}
.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf {
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-left: 12px;
  margin-right: -10px;
}
.nsm7Bb-HzV7m-LgbsSe.jVeSEe.JGcpL-RbRzK .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf {
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
.L5Fo6c-sM5MNb {
  border: 0;
  display: block;
  left: 0;
  position: relative;
  top: 0;
}
.L5Fo6c-bF1uUb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.L5Fo6c-bF1uUb:focus {
  border: none;
  outline: none;
}
